<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gitspringboot.modules.firstModule.mapper.UserMapper">
    <resultMap id="UserResultMap" type="gitspringboot.modules.firstModule.entity.User">
        <id column="id" property="id"/>
        <id column="user_name" property="userName"/>
        <id column="pass_word" property="passWord"/>
    </resultMap>
</mapper>